@use "../common/variables";
@use "../common/mixins";

.about__wrapper {
  max-width: variables.$view-port-desktop-wide;
  margin: 0 auto;

  @include mixins.mobile {
    padding: 20px 0;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: 1fr 270px;
    padding: 6px 48px 40px 0;
  }

  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 585px;
    padding: 92px 195px 100px 0;
  }
}

.about__image-wrapper {
  @include mixins.mobile {
    margin-bottom: 13px;
  }

  @include mixins.tablet {
    margin-top: 170px;
    margin-right: -92px;
  }

  @include mixins.desktop {
    margin-top: 8px;
    margin-right: 0;
  }
}

.about__image {
  width: 100%;
  object-fit: cover;
}

.about__info {
  @include mixins.mobile {
    padding: 0 15px;
  }

  @include mixins.tablet {
    margin-top: 54px;
  }

  h3 {
    @include mixins.mobile {
      @include mixins.font-info(16px, 16px, 700);

      margin: 0 0 13px;
    }

    @include mixins.tablet {
      @include mixins.font-info(18px, 18px, 700);

      margin: 0 0 12px;
    }

    @include mixins.desktop {
      @include mixins.font-info(21px, 21px, 700);

      margin: 0 0 16px;
    }
  }

  p {
    margin: 0 0 27px;

    @include mixins.mobile {
      @include mixins.font-info(14px, 20px);
    }

    @include mixins.tablet {
      @include mixins.font-info(16px, 24px);
    }

    @include mixins.desktop {
      @include mixins.font-info(14px, 22px);
    }
  }

  p:last-child {
    margin: 0;
  }
}

.about__info h2 {
  position: relative;

  @include mixins.mobile {
    @include mixins.font-info(22px, 22px, 800);

    margin: 0 0 42px;
  }

  @include mixins.tablet {
    @include mixins.font-info(25px, 25px, 800);

    margin: 0 0 48px;
  }

  @include mixins.desktop {
    @include mixins.font-info(35px, 35px, 800);

    margin-bottom: 58px;
  }
}

.about__info h2::before {
  content: attr(data-title);
  width: max-content;
  position: absolute;
  left: 0;
  opacity: 0.03;

  @include mixins.mobile {
    @include mixins.font-info(26px, 26px, 800);

    bottom: 12px;
  }

  @include mixins.tablet {
    @include mixins.font-info(40px, 40px, 800);

    bottom: 0;
  }

  @include mixins.tablet {
    @include mixins.font-info(55px, 55px, 800);

    bottom: 0;
  }
}
