@use "../common/variables.scss";
@use "../common/mixins.scss";

.contacts__wrapper {
  @include mixins.mobile {
    padding-top: 34px;
  }

  @include mixins.tablet {
    padding-top: 60px;
  }

  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 600px;
    padding: 123px 120px 55px;
    column-gap: 100px;
    max-width: variables.$view-port-desktop-wide;
    margin: 0 auto;
  }
}

.contacts__header-wrapper {
  @include mixins.mobile {
    padding: 0 15px;
  }

  @include mixins.tablet {
    padding: 0 45px;
  }

  @include mixins.desktop {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    padding: 0;
  }
}

.contacts__header {
  @include mixins.mobile {
    margin-bottom: 29px;
  }

  @include mixins.tablet {
    margin-bottom: 20px;
  }

  @include mixins.desktop {
    margin-bottom: -3px;
  }

  & + p {
    @include mixins.mobile {
      @include mixins.font-info(14px, 20px);

      margin: 0 0 30px;
    }

    @include mixins.tablet {
      @include mixins.font-info(16px, 24px);

      margin: 0 0 40px;
      max-width: 480px;
    }

    @include mixins.desktop {
      @include mixins.font-info(16px, 24px);

      margin: 0 0 24px;
    }
  }
}

.contacts__items {
  @include mixins.list-base;

  display: flex;

  @include mixins.mobile {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  @include mixins.tablet {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
  }

  @include mixins.desktop {
    flex-direction: column;
    gap: 34px;
  }
}

.contacts__item {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: variables.$icons-color-primary;
  }

  @include mixins.desktop {
    &:after {
      top: 11px;
      width: 26px;
      height: 26px;
      mask-size: 26px 26px;
    }
  }
}

.contacts__item--phone {
  &:after {
    mask: url("/__spritemap#sprite-phone-view");
  }
}

.contacts__item--email {
  &:after {
    mask: url("/__spritemap#sprite-mail-view");
  }
}

.contacts__item--address {
  &:after {
    mask: url("/__spritemap#sprite-pin-stroke-view");
  }
}

.contacts__item-header {
  margin: 0 0 7px 35px;

  @include mixins.mobile {
    @include mixins.font-info(14px, 14px, 600);
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 16px, 600);
  }

  @include mixins.tablet {
    @include mixins.font-info(18px, 18px, 600);

    margin-left: 56px;
  }
}

.contacts__item-content {
  @include mixins.font-info(14px, 20px);

  margin: 0 0 0 32px;
  text-decoration: none;
  color: variables.$font-color-primary;

  @include mixins.mobile {
    max-width: 180px;
  }

  @include mixins.desktop {
    @include mixins.font-info(16px, 24px);
    margin-left: 56px;
  }
}

.contacts__item-content--link {
  cursor: pointer;
  display: block;
  width: fit-content;
  border: 1px solid variables.$transparent-color;

  &:hover {
    border-bottom-color: variables.$font-color-primary;
  }

  &:focus {
    border-color: variables.$font-color-primary;
  }

  &:active {
    color: variables.$button-color-primary;
  }

  &:disabled {
    color: variables.$font-color-disabled;
  }
}

.contacts__image {
  object-fit: cover;
  width: 100%;
}

.contacts__image-wrapper {
  position: relative;

  @include mixins.mobile {
    margin-bottom: 15px;
  }

  @include mixins.tablet {
    margin-bottom: 32px;
  }

  @include mixins.desktop {
    margin-top: 26px;
    margin-bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    mask: url("/__spritemap#sprite-pin-filled-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size:contain;
    background-color: variables.$icons-color-secondary;

    @include mixins.mobile {
      top: calc(50% - 2px);
      left: calc(50% + 38px);
    }

    @include mixins.tablet {
      top: calc(50% + 10px);
      left: calc(50% + 6px);
      width: 32px;
      height: 36px;
      mask-size: 42px 42px;
    }

    @include mixins.desktop {
      top: calc(50% - 42px);
      left: calc(50% + 68px);
      mask-size: 50px 50px;
    }
  }
}
