@use "../common/variables.scss";
@use "../common/mixins.scss";

.form {
  max-width: variables.$view-port-desktop-wide;
  margin: 0 auto;

  background-color: variables.$background-color-alternative;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixins.mobile {
    background-image:
      image-set(
          "../img/form/form-mobile@1x.webp" type("image/webp"),
          "../img/form/form-mobile@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
            "../img/form/form-mobile@2x.webp" type("image/webp"),
            "../img/form/form-mobile@2x.png" type("image/png")
        );
    }
  }

  @include mixins.tablet {
    background-image:
      image-set(
          "../img/form/form-tablet@1x.webp" type("image/webp"),
          "../img/form/form-tablet@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
            "../img/form/form-tablet@2x.webp" type("image/webp"),
            "../img/form/form-tablet@2x.png" type("image/png")
        );
    }
  }

  @include mixins.desktop {
    background-image:
      image-set(
          "../img/form/form-desktop@1x.webp" type("image/webp"),
          "../img/form/form-desktop@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
            "../img/form/form-desktop@2x.webp" type("image/webp"),
            "../img/form/form-desktop@2x.png" type("image/png")
        );
    }
  }
}

.form__wrapper {
  color: variables.$font-color-accent;

  @include mixins.mobile {
    padding: 177px 31px;
  }

  @include mixins.tablet {
    padding: 184px 204px;
  }

  & h2 {
    text-align: center;

    @include mixins.mobile {
      @include mixins.font-info(22px, 22px, 800);
      margin: 0 0 17px 0;
    }

    @include mixins.tablet {
      @include mixins.font-info(25px, 25px, 800);
      margin: 0 0 25px 0;
    }

    @include mixins.desktop {
      @include mixins.font-info(35px, 35px, 800);
      margin: 0 0 20px 0;
    }
  }

  & p {
    text-align: center;

    @include mixins.mobile {
      @include mixins.font-info(12px, 18px);
      max-width: 220px;
      margin: 0 auto 20px;
    }

    @include mixins.tablet {
      @include mixins.font-info(16px, 24px);
      margin: 0 auto 25px;
    }

    @include mixins.desktop {
      margin-bottom: 40px;
    }
  }
}

.form__info {
  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 180px;
    gap: 30px;
    max-width: 960px;
  }
}

.form__input {
  @include mixins.font-info(16px, 16px);

  width: 100%;
  border: 1px solid rgba(variables.$background-color-secondary, 0.1);
  border-radius: 2px;

  @include mixins.mobile {
    padding: 14px 15px;
    margin-bottom: 9px;
  }

  @include mixins.tablet {
    padding: 20px 30px;
    margin-bottom: 11px;
  }

  &:hover {
    border-color: variables.$background-color-secondary;
  }

  &:focus {
    border-color: variables.$button-color-accent;
  }

  &:disabled {
    border-color: variables.$font-color-disabled;
  }

  &:hover::placeholder {
    color: variables.$icons-color-secondary;
    opacity: 0.5;
  }
}

.form__input--invalid {
  border-color: variables.$font-color-error;
}

.form__button {
  @include mixins.font-info(16px, 16px, 500);
  width: 100%;

  @include mixins.mobile {
    padding: 20px 15px;
  }

  @include mixins.tablet {
    padding: 19px 20px;
  }

  @include mixins.desktop {
    height: fit-content;
    padding: 22px 20px;
  }
}
