@use "../common/variables";
@use "../common/mixins";

.gallery__wrapper {
  max-width: variables.$view-port-desktop-wide;
  margin: 0 auto;
}

.gallery__header {
  @include mixins.mobile {
    padding: 21px 15px 0;
    margin-bottom: 27px;
  }

  @include mixins.tablet {
    padding: 60px 45px 0;

    &::before {
      padding-left: 40px;
    }
  }

  @include mixins.desktop {
    padding: 123px 120px 0;

    &::before {
      padding-left: 120px;
    }
  }
}

.gallery__description {
  @include mixins.mobile {
    padding: 0 15px 29px;
  }

  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    padding: 30px 45px 21px;
  }

  @include mixins.desktop {
    padding: 22px 120px 47px;
  }
}

.gallery__description p {
  @include mixins.mobile {
    @include mixins.font-info(12px, 18px);

    margin: 0;
  }

  @include mixins.tablet {
    @include mixins.font-info(14px, 22px);

    max-width: 382px;
    margin: 0;
  }

  @include mixins.desktop {
    @include mixins.font-info(16px, 24px);

    max-width: 596px;
    margin: 0;
  }
}

.gallery__pagination {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    align-self: end;
    display: flex;
    gap: 4px;
  }

  @include mixins.desktop {
    display: none;
  }
}

.gallery__slider {
  @include mixins.desktop {
    margin-bottom: 3px;
  }
}

.gallery__items {
  @include mixins.list-base;

  @include mixins.mobile {
    max-height: 268px;
  }

  @include mixins.desktop {
    max-height: 463px;
  }
}

.gallery__item {
  overflow: hidden;
}

.gallery__item--twin {
  display: grid;

  @include mixins.mobile {
    grid-template-rows: 133px 125px;
    gap: 7px;
  }

  @include mixins.tablet {
    grid-template-rows: 210px 202px;
    gap: 6px;
  }

  @include mixins.desktop {
    grid-template-rows: 233px 223px;
    gap: 7px;
  }
}

.gallery__image {
  width: 100%;
  object-fit: cover;
}
