@use "../common/variables.scss";
@use "../common/mixins.scss";

.gallery__header {
  @include mixins.mobile {
    padding: 15px 15px 0 15px;
    margin-bottom: 27px;
  }

  @include mixins.tablet {
    padding: 40px 45px 0 45px;

    &:before {
        padding-left: 40px;
      }

  }
}

.gallery__description {
  @include mixins.mobile {
    padding: 0 15px 31px 15px;
    & p {
      @include mixins.font-info(12px, 18px);

      margin: 0;
    }
  }

  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    padding: 20px 45px 21px 45px;

    & p {
      @include mixins.font-info(14px, 22px);

      max-width: 380px;
      margin: 0;
    }
  }
}

.gallery__pagination {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    align-self: end;
    display: flex;
    gap: 4px;
  }
}

.gallery__items {
  @include mixins.list-base;

  @include mixins.mobile {
    max-height: 260px;
  }
}

.gallery__item {
  overflow: hidden;
}

.gallery__item--twin {
  display: grid;

  @include mixins.mobile {
    grid-template-rows: 149px 110px;
    gap: 7px;
  }

  @include mixins.tablet {
    grid-template-rows: 210px 202px;
    gap: 5px;
  }
}

.gallery__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
