@use "../common/variables.scss";
@use "../common/mixins.scss";

.header {
  background-color: variables.$background-color-secondary;
  color: variables.$font-color-accent;
}

.header__container {
  position: relative;

  @include mixins.mobile {
    display: grid;
    grid-template-columns: 26px 1fr 142px;
    row-gap: 12px;
    align-items: start;
  }

  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__menu-button--closed::before {
  mask: url("/__spritemap#sprite-menu-view") center center no-repeat;
}

.header__menu-button--opened::before {
  mask: url("/__spritemap#sprite-cross-view") center center no-repeat;
}

.header__menu-button {
  background-color: variables.$transparent-color;
  border: 0;
  padding: 0;
  cursor: pointer;
  min-width: 26px;
  min-height: 26px;
  color: inherit;

  @include mixins.mobile {
    display: block;
  }

  @include mixins.desktop {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    aspect-ratio: 1;
    background-color: variables.$font-color-accent;
  }

  &:hover::before {
    background-color: rgba(variables.$font-color-accent, 0.5);
  }

  &:focus::before {
    background-color: variables.$font-color-primary;
  }

  &:active::before {
    background-color: variables.$font-color-active;
  }

  &:disabled::before {
    background-color: variables.$font-color-disabled;
  }
}

.header__logo {
  color: inherit;
  grid-column: 3/-1;
  cursor: pointer;

  @include mixins.tablet {
    margin-left: 100px;
  }

  @include mixins.desktop {
    margin-left: 0;
  }

  &:hover {
    color: rgba(variables.$font-color-accent, 0.5);
  }

  &:focus {
    color: variables.$font-color-primary;
  }

  &:active {
    color: variables.$font-color-active;
  }

  &:disabled {
    color: variables.$font-color-disabled;
  }
}

.header__phone {
  @include mixins.font-info(14px, 16px, 600);

  cursor: pointer;
  text-align: right;
  color: inherit;
  grid-column: 3/-1;
  text-decoration: none;

  &:hover {
    color: rgba(variables.$font-color-accent, 0.5);
  }

  &:focus {
    color: variables.$font-color-primary;
  }

  &:active {
    color: variables.$font-color-active;
  }

  &:disabled {
    color: variables.$font-color-disabled;
  }
}

.header__menu-button--closed + .header__nav {
  display: none;
}

.header__menu-button--opened + .header__nav {
  display: flex;
}
