@use "../common/variables";
@use "../common/mixins";

.nav {
  @include mixins.mobile {
    display: none;
    position: absolute;
    padding: 15px 15px 60px;
    background-color: variables.$background-color-secondary;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
  }

  @include mixins.tablet {
    display: none;
  }

  @include mixins.desktop {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    order: 2;
  }
}

.nav__items {
  @include mixins.list-base;

  display: flex;
  gap: 22px;
  flex-wrap: wrap;

  @include mixins.mobile {
    flex-direction: column;
  }

  @include mixins.tablet {
    flex-direction: column;
  }

  @include mixins.desktop {
    flex-direction: row;
    gap: 13px;
  }
}

.nav__link {
  @include mixins.mobile {
    @include mixins.font-info(14px, 14px, 700);

    text-transform: uppercase;
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 16px, 700);

    text-transform: uppercase;
  }

  @include mixins.desktop {
    @include mixins.font-info(16px, 16px);

    text-transform: capitalize;
  }

  display: inline-block;
  padding: 3px 5px;
  border: 1px solid variables.$transparent-color;
  letter-spacing: 0.04em;
  text-decoration: none;

  color: inherit;

  &:hover {
    border-bottom-color: variables.$font-color-accent;
  }

  &:focus {
    border-color: variables.$font-color-accent;
  }

  &:active {
    color: variables.$font-color-active;
  }

  &:disabled {
    color: variables.$font-color-disabled;
  }
}
