@use "../common/variables";
@use "../common/mixins";

.page {
  box-sizing: border-box;
  height: 100%;
  min-width: variables.$view-port-mobile;
}

.page__lock {
  overflow: hidden;
}

.page__body {
  @include mixins.font-info(14px, 20px);

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: variables.$background-color-primary;
  color: variables.$font-color-primary;
}

.page__main {
  background-color: variables.$background-color-primary;
  background-repeat: no-repeat;

  @include mixins.mobile {
    background-size: 141px 595px;
    background-position: 100% 578px;
    background-image:
      image-set(
        "../img/decorations/clouds-mobile@1x.webp" type("image/webp"),
        "../img/decorations/clouds-mobile@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-mobile@2x.webp" type("image/webp"),
          "../img/decorations/clouds-mobile@2x.png" type("image/png")
        );
    }
  }

  @include mixins.tablet {
    background-size: 425px 1630px;
    background-position: 100% 941px;
    background-image:
      image-set(
        "../img/decorations/clouds-1-tablet@1x.webp" type("image/webp"),
        "../img/decorations/clouds-1-tablet@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-1-tablet@2x.webp" type("image/webp"),
          "../img/decorations/clouds-1-tablet@2x.png" type("image/png")
        );
    }
  }

  @include mixins.desktop {
    background-size: 602px 1630px;
    background-position: 100% 673px;
    background-image:
      image-set(
        "../img/decorations/clouds-1-desktop@1x.webp" type("image/webp"),
        "../img/decorations/clouds-1-desktop@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-1-desktop@2x.webp" type("image/webp"),
          "../img/decorations/clouds-1-desktop@2x.png" type("image/png")
        );
    }
  }
}

.page__container {
  min-width: variables.$view-port-mobile;
  width: 100%;
  max-width: variables.$view-port-desktop-wide;
  margin: 0 auto;

  @include mixins.mobile {
    padding: 15px;
  }

  @include mixins.tablet {
    padding: 19px 45px 16px;
  }

  @include mixins.desktop {
    padding: 30px 120px;
  }
}

.page__header {
  position: relative;
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(22px, 22px, 800);
  }

  @include mixins.tablet {
    @include mixins.font-info(25px, 25px, 800);
  }

  @include mixins.desktop {
    @include mixins.font-info(35px, 35px, 800);
  }
}

.page__header::before {
  content: attr(data-title);
  width: max-content;
  position: absolute;
  left: 0;
  opacity: 0.03;

  @include mixins.mobile {
    @include mixins.font-info(26px, 26px, 800);

    bottom: 12px;
  }

  @include mixins.tablet {
    @include mixins.font-info(40px, 40px, 800);

    bottom: 0;
  }

  @include mixins.desktop {
    @include mixins.font-info(55px, 55px, 800);

    bottom: 0;
  }
}
