@use "../common/variables";
@use "../common/mixins";

.reviews__wrapper {
  @include mixins.mobile {
    padding-top: 36px;
  }

  @include mixins.tablet {
    padding-top: 59px;
  }

  @include mixins.desktop {
    padding-top: 145px;
    padding-bottom: 100px;
  }
}

.reviews__header-wrapper {
  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px 10px;
  }

  @include mixins.desktop {
    margin: 0 120px 10px;
  }
}

.reviews__header {
  @include mixins.mobile {
    margin: 0 15px 17px;
  }

  @include mixins.tablet {
    margin: 0 0 10px;
  }

  @include mixins.desktop {
    margin: 0;
  }
}

.reviews__pagination {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    display: flex;
    gap: 4px;
  }
}

.reviews__items {
  @include mixins.list-base;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  @include mixins.tablet {
    margin-left: 30px;
  }

  @include mixins.desktop {
    margin-left: 60px;
  }
}

.reviews__item {
  flex-shrink: 0;
  max-width: 100%;
  border: 1px solid variables.$background-color-primary;
  background-color: variables.$background-color-primary;
  padding: 19px 19px 5px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(variables.$background-color-alternative, 0.1);
  margin: 15px 15px 20px;
  width: min-content;

  @include mixins.mobile {
    display: block;
    min-height: 484px;
  }

  @include mixins.tablet {
    display: flex;
    gap: 30px;
    min-width: 565px;
    min-height: 277px;
    height: auto;
  }

  @include mixins.desktop {
    min-width: 700px;
    margin: 27px 52px 15px 69px;
    padding: 20px 40px 15px 20px;
  }
}

.reviews__image-wrapper {
  @include mixins.mobile {
    margin-bottom: 14px;
  }

  @include mixins.tablet {
    margin-bottom: 0;
  }
}

.reviews__image {
  object-fit: cover;
}

.reviews__details {
  @include mixins.mobile {
    @include mixins.font-info(12px, 18px);
  }

  @include mixins.tablet {
    @include mixins.font-info(12px, 18px);

    margin-top: 4px;
  }

  @include mixins.desktop {
    @include mixins.font-info(14px, 22px);

    margin-top: 0;
  }

  h3 {
    @include mixins.mobile {
      @include mixins.font-info(12px, 12px, 700);

      margin-top: 16px;
      margin-bottom: 4px;
    }

    @include mixins.tablet {
      @include mixins.font-info(13px, 13px, 700);

      margin-top: 25px;
      margin-bottom: 4px;
    }

    @include mixins.desktop {
      margin-top: 0;
    }
  }

  p {
    margin: 0 0 10px;

    @include mixins.desktop {
      margin: 0 0 6px;
    }
  }
}

.reviews__author {
  @include mixins.mobile {
    margin: 0;
  }

  @include mixins.tablet {
    margin-top: 6px;
  }
}
