@use "../common/variables.scss";
@use "../common/mixins.scss";

.tours__wrapper {
  @include mixins.mobile {
    padding-top: 39px;
  }

  @include mixins.tablet {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include mixins.tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.tours__header-wrapper {
  display: flex;
  justify-content: space-between;

  @include mixins.mobile {
    margin-bottom: 39px;
  }

  @include mixins.tablet {
    margin-bottom: 35px;
  }

  @include mixins.desktop {
    margin-bottom: 53px;
  }
}

.tours__pagination {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    display: flex;
    gap: 4px;
  }
}

.tours__items {
  @include mixins.list-base;
}

.tours__item {
  position: relative;
}

.tours__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tours__image {
  width: 100%;
  object-fit: cover;
}

.tours__details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: variables.$font-color-accent;
  padding: 20px;
}

.tours__info {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 12px;
}

.tours__info-item {
  @include mixins.font-info(12px, 12px, 500);

  min-width: 37px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1;
    background-color: variables.$font-color-accent;
  }
}

.tours__info-item--place {
  position: relative;
  margin: 0;
  padding: 8px 11px 8px 34px;

  &:before {
    left: 12px;
    width: 16px;
    mask: url("/__spritemap#sprite-pin-filled-view");
  }

  &:hover::before {
    background-color:  variables.$font-color-active;
  }

  &:focus::before {
    background-color: variables.$font-color-active;
  }

  &:active::before {
    background-color: variables.$font-color-accent;
  }

  &:disabled::before {
    background-color: variables.$font-color-accent;
  }
}

.tours__info-item--days {
  position: relative;
  margin: 0;
  padding: 8px 0 8px 22px;

  &:before {
    left: -10px;
    width: 20px;
    mask: url("/__spritemap#sprite-sun-view");
  }
}

.tours__info-item--night {
  position: relative;
  margin: 0;
  padding: 8px 0 8px 32px;

  &:before {
    left: 0;
    width: 20px;
    mask: url("/__spritemap#sprite-moon-view");
  }
}

.tours__title {
  @include mixins.font-info(24px, 28px, 700);

  margin: 14px 0 17px;
}

.tours__additional-details {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tours__slider {
  margin-bottom: 30px;

  @include mixins.desktop {
    margin-bottom: 53px;
  }
}

.tours__actions-wrapper {
  display: flex;
  justify-content: center;
}

.tours_link {
  position: relative;
  color: inherit;
  letter-spacing: 0.04em;
  padding-right: 28px;

  @include mixins.mobile {
    @include mixins.font-info(14px, 14px, 700);

    margin-left: 9px;
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 16px, 700);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 7px;
    width: 9px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    mask: url("/__spritemap#sprite-chevron-view");
    background-color: variables.$font-color-primary;
  }

  &:hover::after {
    background-color: rgba(variables.$button-color-primary, 0.1);
  }

  &:focus::after {
    background-color: variables.$button-color-primary;
  }

  &:active::after {
    background-color: variables.$font-color-active;
  }

  &:disabled::after {
    background-color: variables.$font-color-disabled;
  }
}
