@use "../common/variables.scss";
@use "../common/mixins.scss";

.training {
  @include mixins.tablet {
    background-repeat: no-repeat;
    background-size: 465px 280px;
    background-position: 100% 620px;
    background-image:
      image-set(
          "../img/decorations/clouds-2-tablet@1x.webp" type("image/webp"),
          "../img/decorations/clouds-2-tablet@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
            "../img/decorations/clouds-2-tablet@2x.webp" type("image/webp"),
            "../img/decorations/clouds-2-tablet@2x.png" type("image/png")
        );
    }
  }
}

.training__wrapper {
  @include mixins.mobile {
    padding-top: 36px;
  }

  @include mixins.tablet {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.training__header {
  @include mixins.mobile {
    margin-bottom: 18px;
  }

  @include mixins.tablet {
    margin-bottom: 36px;
  }
}

.training__header + p {
  margin: 0 0 25px;

  @include mixins.mobile {
    @include mixins.font-info(14px, 20px);
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 24px);
  }
}

.training__subheader-wrapper {
  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.training__subheader {
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(22px, 22px, 800);
  }

  @include mixins.tablet {
    @include mixins.font-info(25px, 25px, 800);
  }
}

.training__pagination {
  @include mixins.mobile {
    display: none;
  }

  @include mixins.tablet {
    display: flex;
    gap: 4px;
  }
}

.training__subheader-wrapper {
  margin-bottom: 25px;
}


.training__items {
  @include mixins.list-base;

  margin-bottom: 15px;
}

.training__item {
  background-color: variables.$background-color-primary;
  border: 1px solid rgba(variables.$background-color-secondary, 0.1);
  padding: 15px;
  height: auto;
}

.training__slider {
  @include mixins.tablet {
    margin-bottom: 10px;
  }
}

.training__details {
  display: grid;
  grid-template-columns: 1fr 24px;
  padding-top: 15px;

  & h4 {
    @include mixins.font-info(14px, 16px, 700);

    display: inline-block;
    max-width: 100px;
    margin: 0 0 15px;
    grid-column: 1/2;

  }

  & p {
    @include mixins.font-info(12px, 16px);

    margin: 0;
    grid-column: 1/-1;
    order: 2;
  }
}

.training__socials {
  position: relative;
  grid-column: 2/3;
  width: 24px;
  height: 24px;
  order: 1;

  &::before {
    content: "";
    position: absolute;
    display: flex;
    width: 14px;
    height: 8px;
    top: 7px;
    left: 4px;
    mask: url("/__spritemap#sprite-vk-view") center center no-repeat;
    background-color: variables.$font-color-primary;
  }

  &:active::before {
    background-color: variables.$icons-color-accent;
  }
}

.training__process-header {
  @include mixins.mobile {
    @include mixins.font-info(16px, 16px, 700);
    margin: 0 0 25px;
  }

  @include mixins.tablet {
    @include mixins.font-info(18px, 18px, 700);
    margin: 0 0 104px;
  }
}

.training__process-items {
  @include mixins.list-base;

  position: relative;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      top: 18px;
      bottom: 18px;
      width: 2px;
      left: 6px;
      background-color: variables.$icons-color-secondary;
    }
  }

  @include mixins.tablet {
    display: grid;
    grid-template-areas: 'map mountains'
                         'boot forest';
    gap: 104px;
  }
}

.training__process-item {
  position: relative;
  padding: 0 0 0 63px;
  min-height: auto;

  @include mixins.mobile {
    @include mixins.font-info(12px, 18px);

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: variables.$icons-color-secondary;
      left: 0;
      top: 12px;
    }
  }

  @include mixins.tablet {
    @include mixins.font-info(14px, 22px);
  }
}

.training__process-title {
  max-width: 200px;
  margin: 0;
}

.training__process-item--map {
  background: url("/__spritemap#sprite-map-view") no-repeat 30px 5px;
  background-size: 25px 25px;
  grid-area: map;
}

.training__process-item--boot {
  background: url("/__spritemap#sprite-boots-view") no-repeat 30px 5px;
  background-size: 25px 25px;
  grid-area: boot;
}

.training__process-item--forest {
  background: url("/__spritemap#sprite-forest-view") no-repeat 30px 5px;
  background-size: 25px 25px;
  grid-area: forest;
}

.training__process-item--mountains {
  background: url("/__spritemap#sprite-hills-view") no-repeat 30px 5px;
  background-size: 25px 25px;
  grid-area: mountains;
}
