// Fonts
$font-primary: "Montserrat", "Arial", sans-serif;

// Text Colors
$font-color-primary: #2d383f;
$font-color-accent: #ffffff;

// Buttons Colors
$button-color-primary: #0266c1;
$button-color-accent: #2d383f;

// Background Colors
$background-color-primary: #ffffff;

// Icons Colors
$icons-color-primary: #2d383f;
$icons-color-secondary: #0266c1;
$icons-color-accent: #ffffff;

//Overlays Colors
$overlay-color-primary: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.33) 100%);
$overlay-color-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0.6) 100%);
$overlay-color-accent: #2d383f;

// View Port Size
$view-port-desktop-wide: 1920px;
$view-port-desktop: 1366px;
$view-port-tablet: 768px;
$view-port-mobile: 320px;
